# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# macOS
.DS_Store

# Logs
*.log
